extends layout

block content
  // ==== ALERTS START ==== //
  .alerts
    if err
        .alert.alert-danger.col-3(role='alert')
          span(style="margin-left:7px;")=err
    else if message
        .alert.alert-danger.col-3(role='alert')=message
  // ==== ALERTS END ==== //

  // ==== CONSTAINER START ==== //
  .container
    h1 Войти
    form.col-4(action="/Log" method="post")
      .form-outline.mb-4
        input#form1Example3.form-control(type='text' name="Login" required)
        label.form-label(for='form1Example3')
          span Логин
      // Password input
      .form-outline.mb-4
        input#form1Example4.form-control(type='password' name="password" required)
        label.form-label(for='form1Example4')
          span Парол
      // Submit button
      button.btn.btn-primary.btn-block(type='submit') Авторизоваться
      br
      .text-center
          p
            | Вы еще не зарегистрированы? 
            a(href='/Reg') Зарегистрироваться
  // ==== CONSTAINER END ==== //

